/* global reset */

html {
  box-sizing: border-box;

  /* phone - 1rem = 8px; 8/16 = 50% */
  /* desktop - 1rem = 10px; 10px/16px = 62.5% */
  font-size: 50%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

/* typography */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  font-size: 1.6rem;
}

h1 {
  font-size: 2.4rem;
}

/* float layout */
.row {
  max-width: 114rem;
  margin: 0 auto;
}
