/* Tag Cloud */

ul.cloud {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;
  margin-bottom: 4rem;
}

ul.cloud li {
  color: #333;
  display: block;
  font-size: 2.5rem;
  padding: 0.125rem 0.25rem;
  text-decoration: none;
  position: relative;
}

ul.cloud li[data-weight="1"] {
  --size: 1;
}
ul.cloud li[data-weight="2"] {
  --size: 2;
}
ul.cloud li[data-weight="3"] {
  --size: 3;
}
ul.cloud li[data-weight="4"] {
  --size: 4;
}
ul.cloud li[data-weight="5"] {
  --size: 5;
}
ul.cloud li[data-weight="6"] {
  --size: 6;
}
ul.cloud li[data-weight="7"] {
  --size: 7;
}
ul.cloud li[data-weight="8"] {
  --size: 8;
}
ul.cloud li[data-weight="9"] {
  --size: 9;
}
ul.cloud li[data-weight="10"] {
  --size: 10;
}
ul.cloud li[data-weight="11"] {
  --size: 11;
}
ul.cloud li[data-weight="12"] {
  --size: 12;
}
ul.cloud li[data-weight="13"] {
  --size: 13;
}
ul.cloud li[data-weight="14"] {
  --size: 14;
}
ul.cloud li[data-weight="15"] {
  --size: 15;
}
ul.cloud li[data-weight="16"] {
  --size: 16;
}
ul.cloud li[data-weight="17"] {
  --size: 17;
}
ul.cloud li[data-weight="18"] {
  --size: 18;
}
ul.cloud li[data-weight="19"] {
  --size: 19;
}
ul.cloud li[data-weight="20"] {
  --size: 20;
}

ul.cloud li[data-weight="21"] {
  --size: 21;
}

ul.cloud li {
  padding: 0.5rem;
  font-size: calc(var(--size) * 0.25rem + 0.5rem);
  /* ... */
}

ul.cloud li:hover,
li:active {
  font-size: calc(var(--size) * 0.275rem + 0.5rem);
  transition: width 0.35s;
}
